// Color Palette
$color-dark: #3c4245;
$color-lighter-dark: #5f6769;
$color-skin: #dfcdc3;
$color-greenish: #719192;

$color-light-grey: #f7f7f7;

// Grid
$grid-length-hd: 140rem; // for 1920 x 1080 resolution
$grid-length-720: 120rem; // for 1366 x 720 resolution
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;