.btn-submit {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.2rem 4rem;
    cursor: pointer;
    border: 1px solid $color-lighter-dark;
    font-family: inherit;
    background-color: transparent;
    letter-spacing: 0.2rem;
    transition: all 0.5s;
  }

  &:hover {
    transform: scale(1.2);
  }

  &:focus,
  &:active {
      outline: none;
  }
}
