.section-article {
  background-color: $color-light-grey;
  padding: 15rem 0 25rem 0;
}

.section-subscribe {
  background-color: $color-light-grey;
  padding: 15rem 0 15rem 0;
}

.footer {
  padding: 7rem 0 7rem 0;
}