.section-article {
  background-color: $color-light-grey;
  padding: 15rem 0 25rem 0;
}

.section-about {
  
}

.section-subscribe {
  background-color: $color-light-grey;
  padding: 15rem 0 30rem 0;
}